---
- name: Crear/actualitzar imagePullSecret GHCR amb kubectl apply
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    ns: apps
    docker_config_path: "{{ lookup('env','HOME') + '/.docker/config.json' }}"

  tasks:
    - name: Assegurar que existeix el fitxer docker config i és JSON vàlid
      command: bash -lc "test -f {{ docker_config_path }} && jq -e . {{ docker_config_path }}"
      changed_when: false

    - name: Assegurar namespace {{ ns }}
      command: kubectl get ns {{ ns }}
      register: ns_check
      changed_when: false
      failed_when: false

    - name: Crear namespace {{ ns }} si no existeix
      command: kubectl create ns {{ ns }}
      when: ns_check.rc != 0

    - name: Crear/actualitzar el secret 'ghcr-login' (tipus dockerconfigjson)
      shell: |
        kubectl -n {{ ns }} create secret generic ghcr-login \
          --type=kubernetes.io/dockerconfigjson \
          --from-file=.dockerconfigjson={{ docker_config_path }} \
          -o yaml --dry-run=client | kubectl -n {{ ns }} apply -f -
      args:
        executable: /bin/bash
